@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to make sure your fonts look clean like the design */
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}