@import "tailwindcss";

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100% !important;
  display: block !important;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
  }
}